<ion-view name="Publication">
	<ion-content>
		<div class="list card">
    <div class="item item-avatar">
      <img src="img/avatar.gif">
      <h2>{{publication.prenom_publicateur}}&nbsp;{{publication.nom_publicateur}}</h2>
      <hr>
      <h4>Titre: <b>{{publication.titre}}</b></h4>
      <p>Date de publication: {{date.day}} {{date.month}} {{date.year}}</p>
    </div>
    <div class="item item-body">
      <p>
        {{publication.contenu}}
      </p>
    </div>
  </div>
	</ion-content>
</ion-view>
