<ion-view view-title="Cahier de texte"">
  <ion-content>
  <div class="row">
    <div class="col col2 col-40"><i class="icon ion-clock"> </i>Horaires</div>
    <div class="col col2">
      <select  required>
        <option value="lundi">Lundi</option>
        <option value="mardi">Mardi</option>
        <option value="mercredi">Mercredi</option>
        <option value="jeudi">Jeudi</option>
        <option value="vendredi">Vendredi</option>
        <option value="samedi">Samedi</option>
      </select>
    </div>
    <div class="col col2"></div>
  </div><br><br>

  <div class="row">
    <div class="col col-40">8H00-10H00</div>
    <div class="col"><input type="text" placeholder="remplir" required></div>
    <div class="col"><button class="button button-small button-positive" ng-click="">Valider</button></div>
  </div>

  <div class="row">
    <div class="col col-40">10H00- 12H00</div>
    <div class="col"><input type="text" placeholder="remplir"required></div>
    <div class="col"><button class="button button-small button-positive" ng-click="">Valider</button></div>
  </div> <br>

  <div class="row responsive-sm">
    <div class="col col2"><i class="icon ion-coffee"> </i>Pause</div>
  </div><br>

  <div class="row">
    <div class="col col-40">14H30-16H30</div>
    <div class="col"><input type="text" placeholder="remplir" required></div>
    <div class="col"><button class="button button-small button-positive" ng-click="">Valider</button></div>
  </div>

  <div class="row">
    <div class="col col-40">16H30-18H30</div>
    <div class="col"><input type="text" placeholder="remplir" required></div>
    <div class="col"><button class="button button-small button-positive" ng-click="">Valider</button></div>
  </div>

  <div class="col"><button class="button button-block button-assertive" ng-click="">Soumettre</button></div>
</ion-content>
</ion-view>
