<ion-view view-title="Accueil">
  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Bienvenue</h2>
  </div>
  <ion-content class="">
    <div class="row positive">
      <div class="col col-50 idpro-button-full">
        <br/>
      </div>

      <div class="col col-50 idpro-button-full">
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/etudiant/news" class="button button-large button-full button-calm">
          <i class="ion-information dashboard-div-icon"></i>
          <hr>
          INFORMATIONS
        </a>
      </div>
    </div>
    <div class="row" ng-show="responsable==true">
      <div class="col">
        <a href="#/etudiant/cahierdetexte" class="button button-large button-full button-balanced">
          <i class="ion-compose dashboard-div-icon"></i>
          <hr>
          Cahier de texte
        </a>
      </div>
    </div>


    </div>
  </ion-content>
</ion-view>
