<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title"> Profil</h1>
    <div class="buttons" >
      <button class="button button-assertive" ng-click="closeProfil()"><i class="icon ion-android-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="list card">
      <a ng-click="afficheinfos()" class="item item-icon-left">
        <i class="icon ion-person"></i>
        Mes informations
      </a>
      <a ng-click="changepwd()" class="item item-icon-left">
        <i class="icon ion-ios-locked-outline"></i>
        Modifier mon mot de passe
      </a>
      <a  class="item item-icon-left assertive" ng-click="deconnexion()">
        <i class="icon ion-log-out"></i>
        Se deconnecter
      </a>
    </div>
  </ion-content>
</ion-modal-view>
