<ion-header-bar align-title="center" class="bar-dark" ng-show="true">
  <a href="#/" class="button icon-left ion-chevron-left button-clear button-light"></a>
  <h1 class="title">A propos</h1>
</ion-header-bar>
<ion-view>
  <ion-content padding="true">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur cumque deserunt dicta dignissimos dolorem et facere ipsa nisi nobis omnis perspiciatis possimus quae, quam quis temporibus vitae voluptatibus voluptatum.
    </p>
  </ion-content>
</ion-view>
